{% extends 'generate_clothes/base_generate_clothes.html' %}
{% block title %}
    Clothes
{% endblock %}

{% block content %}
    <div class="clothes">
        <div class="description">Style: Street-kid{{ style.style_name }}</div>
        <div class="items-wrapper">
            {% for key, value in clothes.items %}
                <div class="item">
                    <a href="{{ value.url }}" target="_blank"><img src="{{ value.img }}" width="180"></a>
                    <a href="{{ value.url }}" target="_blank">{{ value.name }}</a>
                    <p>{{ value.price }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="choice">
            <a href="/"><button class="btn">Back to home</button></a>
            <a href="{{ season.get_absolute_url }}"><button class="btn">Generate one more</button></a>
        </div>
    </div>
{% endblock content %}